.tags-container {
  padding-top: 10rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tags-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Geist", sans-serif;
}

.tag-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tags-header-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
