.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 50vh;
  width: 100%;
  font-family: "Geist", sans-serif;
}

.status-container h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--foreground);
}
