* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("./assets/fonts/PlayfairDisplay\ Variable\ Italic.ttf");
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url("./assets/fonts/PlayfairDisplay\ Variable\ Regular.ttf");
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist\ Variable.ttf");
}
