.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: "Geist", sans-serif;
  max-width: 57.5rem;
  margin: 0 auto;
  padding: 8rem 0 4rem 0;
  width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1rem;
}

.about-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  max-width: 40rem;
}

.about-footer h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

@media (max-width: 900px) {
  .about-content {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
  .about-content:nth-child(even) {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .about-container {
    padding-top: 12.5rem;
  }
}
