.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57.5rem;
  font-size: 1rem;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 2rem;
  border: 1px solid rgba(238, 241, 249, 0.3);
  padding: 0.75rem 1.25rem 0.75rem 1.25rem; /* top right bottom left */
  font-family: "Geist", sans-serif;
  backdrop-filter: blur(4rem);
  color: #eef1f9;
}

.navigation-links,
.navigation-buttons {
  display: flex;
}

.navigation-links,
.navigation-buttons {
  gap: 1rem;
}

.navigation-links a {
  text-decoration: none;
  color: rgba(238, 241, 249, 0.4);
  transition: all 0.2s ease;
}

.navigation-links a:hover {
  color: #eef1f9;
}

@media (max-width: 900px) {
  .navigation {
    width: 90%;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    width: 90%;
    top: 1.5rem;
    padding: 0.5rem;
  }

  .navigation-links {
    display: none; /* Hide links on very small screens for now, or use a hamburger menu */
  }

  .navigation-logo {
    margin-right: auto;
  }
}
