.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57.5rem;
  font-size: 1rem;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 2rem;
  border: 1px solid color-mix(in srgb, var(--foreground), transparent 85%);
  padding: 0.75rem 1.25rem 0.75rem 1.25rem; /* top right bottom left */
  font-family: "Geist", sans-serif;
  backdrop-filter: blur(4rem);
  color: var(--foreground);
}

.navigation-links,
.navigation-buttons {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.navigation-buttons {
  justify-content: flex-end;
}

.navigation-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-links a {
  text-decoration: none;
  color: var(--foreground);
  opacity: 0.4;
  transition: all 0.2s ease;
}

.navigation-links a:hover {
  opacity: 1;
  color: var(--foreground);
}

@media (max-width: 900px) {
  .navigation {
    width: 90%;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    width: 90%;
    top: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.theme-icon {
  animation: theme-rotate 0.2s ease;
}

@keyframes theme-rotate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
